site_name: '${{ values.name }}'
site_description: '${{ values.description }}'

nav:
  - Home: index.md

plugins:
  - techdocs-core

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
